<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
  <!-- House shape -->
  <path d="M20 4L4 16V36H16V26H24V36H36V16L20 4Z" fill="url(#logo-gradient)" />
  <!-- Blessing star/shine above the house -->
  <path d="M20 2L21 5L24 5L21.5 7L22.5 10L20 8L17.5 10L18.5 7L16 5L19 5L20 2Z" fill="#FFD700" />
  <!-- Heart in the center -->
  <path
    d="M20 19C20 19 15 15 15 18C15 20 20 24 20 24C20 24 25 20 25 18C25 15 20 19 20 19Z"
    fill="white"
    opacity="0.9"
  />
  <defs>
    <linearGradient id="logo-gradient" x1="4" y1="4" x2="36" y2="36" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F47C20" />
      <stop offset="1" stop-color="#D35400" />
    </linearGradient>
  </defs>
</svg>
